* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Courier, monospace;
}

main {
    background: white;
    margin: 40px 70px 20px 70px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.main2 {
    margin: 40px 70px 20px 70px;
}

.main2 p {
    font-family: monospace;
    font-size: 15px;
}

.About {

    font-weight: bold;
    font-family: Impact, Haettenschweiler;
    background-color: rgb(13, 13, 13, .4);
    margin-bottom: 20px;
    margin-top: 35px;
    border-radius: 6px;

}

.About h1 {

    font-size: 35px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(10, 70, 250);

}

.img {
    display: flex;
    align-items: center;
    justify-content: center;

}

.img img {
    margin: 30px;
}

.team {
    margin-top: 20px;
}

.team h4 {
    font-weight: bolder;
    padding-left: 10px;
    font-size: 18px;
    font-family: Verdana;
    color: rgb(10, 70, 250);
}

.team ul {
    padding-left: 25px;

}

.team ul li {
    padding-top: 0px;
}

.team ul li span {
    font-weight: bold;
    font-family: monospace;

}

.team p {
    padding-top: 20px;
    padding-bottom: 5px;
}

.team h5 {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}

.team input {
    margin-bottom: 10px;
    padding: 11px;
    font-size: 15px;
    width: 400px;
    border: 1px solid blue;

}

.team #description {
    height: 20vh;
    font-size: 20px;
    justify-content: flex-start;
}

.team button {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid blue;
    color: rgb(10, 70, 250);
    margin-left: 300px;
    width: 100px;
    cursor: pointer;
    font-weight: bold;
}

.team button:hover {
    color: white;
    background: rgb(10, 70, 250);
}

.team ul {
    display: grid;
    gap: 10px;
    font-size: 15px;
}

.recent ul {

    padding: 20px;
}

@media (max-width: 983px) {
    main {
        margin: 40px 50px 20px 50px;
    }

    .main2 {
        margin: 40px 50px 20px 50px;
    }

    .img img {
        width: 70%;
        padding: 30px;

    }
}

@media (max-width: 837px) {
    .main {
        margin: 40px 70px 20px 70px;
    }


}

@media (max-width: 825px) {
    .img img {
        width: 70%;

    }
}

@media (max-width: 759px) {
    .img img {
        width: 80%;

    }
}

@media (max-width: 544px) {
    main {
        margin: 40px 50px 20px 50px;
    }

    .main2 {
        margin: 40px 50px 20px 50px;
    }

    .img img {
        width: 70%;

    }

    .About {
        margin: 40px 50px 20px 50px;
    }

    .team #description {
        height: 15vh;

    }
}

@media (max-width: 430px) {
    .team input {
        width: 300px;
    }

    .team button {
        margin-left: 200px;
    }

    .About h1 {

        font-size: 30px;
    }

    .img img {
        width: 70%;

    }

    .About {
        margin: 40px 50px 20px 50px;
    }

    .team #description {
        height: 15vh;

    }
}

@media (max-width: 394px) {
    .About {
        margin: 40px 70px 20px 70px;
    }

    .main2 {
        margin: 40px 70px 20px 70px;
    }

    .img img {
        width: 50px;

    }

    .team input {
        width: 200px;
    }

    .team button {
        margin-left: 100px;
    }

    .team #description {
        height: 10vh;

    }

    .About h1 {
        font-size: 20px;
    }
}

@media (max-width: 2000px) {
    .img img {
        width: 100%;

    }
}